index.html
<html> <head><meta name="viewport" content="width=device-width,initial-scale=1"/><title>Prueba Landing Page Elegra</title><link href="css/main.css" rel="stylesheet"/><link href="css/lib/hamburgers.css" rel="stylesheet"/><link href="slick/slick.css" rel="stylesheet"/><link href="slick/slick-theme.css" rel="stylesheet"/></head><body><header><div class="hamburger-w"><button class="hamburger hamburger--spring" id="js-trigger" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></div><navigation id="js-menu"><ul class="b-menu"><li>Inicio</li><li>Servicios</li><li>Metodología</li><li>Contacto</li><li>Blog</li></ul></navigation></header><section class="b-presentation"><ul class="b-presentation_slider js-presentation_slider"><li><span class="b-presentation_slider--overlay"></span><img class="b-presentation_slider-img" src="images/hero_image.jpg" alt="hero"/><div class="b-presentation_slider-text-w">  <img class="b-presentation_slider-text-w_img" src="icons/logo.png" alt="Elegra"/><h2>Diseñamos para pensar</h2><p>En Elegra nos centramos en ofrecer nuestros servicios a empresas que valoran el buen trabajo que hay detrás de un proyecto tecnológico. Dedicándonos al trabajo que nos apasiona conseguimos los mejores resultados.</p></div></li><li><span class="b-presentation_slider--overlay"></span><img class="b-presentation_slider-img" src="images/hero_image1.jpg" alt="hero1"/><div class="b-presentation_slider-text-w">  <img class="b-presentation_slider-text-w_img" src="icons/logo.png" alt="Elegra"/><h2>Diseñamos para pensar</h2><p>En Elegra nos centramos en ofrecer nuestros servicios a empresas que valoran el buen trabajo que hay detrás de un proyecto tecnológico. Dedicándonos al trabajo que nos apasiona conseguimos los mejores resultados.</p></div></li><li><span class="b-presentation_slider--overlay"></span><img class="b-presentation_slider-img" src="images/hero_image2.jpg" alt="hero2"/><div class="b-presentation_slider-text-w">  <img class="b-presentation_slider-text-w_img" src="icons/logo.png" alt="Elegra"/><h2>Diseñamos para pensar</h2><p>En Elegra nos centramos en ofrecer nuestros servicios a empresas que valoran el buen trabajo que hay detrás de un proyecto tecnológico. Dedicándonos al trabajo que nos apasiona conseguimos los mejores resultados.</p></div></li></ul></section><article class="b-philosophy"><div class="b-philosophy_quote"><p>Sólo podemos ver poco del futuro, pero lo suficiente para darnos cuenta de que <span> hay mucho por hacer.</span></p><span>Alan Turing</span></div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices lorem a est dictum blandit sit amet quis justo. Integer bibendum, lacus vestibulum tristique pharetra, leo nibh congue diam, sed bibendum orci odio eget est. In condimentum odio ultricies purus faucibus, ac ornare nisi feugiat. Vestibulum auctor, tortor et dapibus tempor, nisl nulla fermentum mauris.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices lorem a est dictum blandit sit amet quis justo. Integer bibendum, lacus vestibulum tristique pharetra, leo nibh congue diam, sed bibendum orci odio eget est. In condimentum odio ultricies purus faucibus, ac ornare nisi feugiat. Vestibulum auctor, tortor et dapibus tempor, nisl nulla fermentum mauris, a mattis arcu tortor consectetur magna.         </p></article><section class="b-services"><h3>Servicios</h3><div class="b-services--w"><div class="b-services_consultoria b-services_section"><span class="b-services_consultoria-icon" title="Consultoría icono"></span><p class="b-services_section-title">Consultoría informática</p><p>Diseñados para pensar. Nuestro principio es que no hay solución óptima sin un estudio previo en el que conocer tu negocio. Analizamos tus necesidades y planteamos la mejor solución.</p></div><div class="b-services_desarrollo b-services_section"><span class="b-services_desarrollo-icon" title="Desarrollo icono"></span><p class="b-services_section-title">Desarrollo</p><p>Desarrollamos software basado en las últimas tecnologías, optimizando su rendimiento y certificando su calidad.Grandes maras cuentan con nuestros desarrollos, y desde entonces, mantienen el rendimiento, calidad y sencillez en la gestión.</p></div></div></section><section class="b-customers"><h3>clientes</h3><ul><li><img src="images/logo_ferrovial.png" alt="ferrovial"/></li><li><img src="images/logo_american-express.png" alt="american express"/></li><li><img src="images/logo_ie-business.png" alt="ie bussines"/></li><li><img src="images/logo_ferrovial.png" alt="ferrovial"/></li><li><img src="images/logo_american-express.png" alt="american express"/></li><li><img src="images/logo_ie-business.png" alt="ie bussines"/></li><li><img src="images/logo_american-express.png" alt="american express"/></li><li><img src="images/logo_ie-business.png" alt="ie bussines"/></li><li><img src="images/logo_ferrovial.png" alt="ferrovial"/></li><li><img src="images/logo_american-express.png" alt="american express"/></li><li><img src="images/logo_ie-business.png" alt="ie bussines"/></li><li><img src="images/logo_ferrovial.png" alt="ferrovial"/></li></ul></section><footer><p class="copyright">@Copyright - Elegra</p><div class="b-social-media"><a href="#" title="facebook"><?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="430.113px" height="430.114px" viewBox="0 0 430.113 430.114" style="enable-background:new 0 0 430.113 430.114;"
	 xml:space="preserve">
<g>
	<path id="Facebook" d="M158.081,83.3c0,10.839,0,59.218,0,59.218h-43.385v72.412h43.385v215.183h89.122V214.936h59.805
		c0,0,5.601-34.721,8.316-72.685c-7.784,0-67.784,0-67.784,0s0-42.127,0-49.511c0-7.4,9.717-17.354,19.321-17.354
		c9.586,0,29.818,0,48.557,0c0-9.859,0-43.924,0-75.385c-25.016,0-53.476,0-66.021,0C155.878-0.004,158.081,72.48,158.081,83.3z"/>
</g>
</svg>
</a><a href="#" title="twitter"><?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="90px" height="90px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
<g>
	<path id="Twitter" d="M67.261,67.496H45.054c-3.087,0-5.712-1.08-7.869-3.25c-2.167-2.172-3.238-4.797-3.238-7.898v-7.904H65.59
		c2.854,0,5.312-1.025,7.354-3.062c2.041-2.054,3.066-4.509,3.066-7.366c0-2.867-1.025-5.319-3.072-7.366
		c-2.049-2.042-4.515-3.066-7.381-3.066H33.946V11.254c0-3.09-1.102-5.735-3.29-7.939C28.478,1.107,25.842,0,22.782,0
		c-3.146,0-5.825,1.091-8.004,3.25C12.591,5.416,11.5,8.084,11.5,11.264v45.089c0,9.274,3.278,17.197,9.837,23.773
		C27.901,86.715,35.814,90,45.066,90h22.203c3.082,0,5.729-1.107,7.93-3.314c2.203-2.197,3.302-4.849,3.302-7.936
		c0-3.088-1.099-5.734-3.302-7.941C72.997,68.607,70.347,67.496,67.261,67.496z"/>
</g>
</svg>
</a><a href="#" title="linkedin"><?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="430.117px" height="430.117px" viewBox="0 0 430.117 430.117" style="enable-background:new 0 0 430.117 430.117;"
	 xml:space="preserve">
<g>
	<path id="LinkedIn" d="M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707
		c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21
		v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824
		C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463
		c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z
		 M5.477,420.56h92.184v-277.32H5.477V420.56z"/>
</g>
</svg>
</a></div></footer><script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script><script src="slick/slick.min.js"></script><script src="js/mainSlider.js"></script><script src="js/menu.js"></script></body></html>

index.pug
html  
    head
        meta(name="viewport" content="width=device-width,initial-scale=1")
        title Prueba Landing Page Elegra
        link(href='css/main.css', rel='stylesheet')
        link(href='css/lib/hamburgers.css', rel='stylesheet')
        link(href='slick/slick.css', rel='stylesheet')
        link(href='slick/slick-theme.css', rel='stylesheet')

    body
        header
            .hamburger-w
                button.hamburger.hamburger--spring#js-trigger(type="button")
                    span.hamburger-box
                        span.hamburger-inner
            navigation#js-menu
                ul.b-menu
                    li Inicio
                    li Servicios
                    li Metodología
                    li Contacto
                    li Blog

        section.b-presentation
            ul.b-presentation_slider.js-presentation_slider
                li
                    span.b-presentation_slider--overlay
                    img.b-presentation_slider-img(src='images/hero_image.jpg' alt='hero')
                    .b-presentation_slider-text-w   
                        img.b-presentation_slider-text-w_img(src='icons/logo.png' alt='Elegra')
                        h2 Diseñamos para pensar
                        p En Elegra nos centramos en ofrecer nuestros servicios a empresas que valoran el buen trabajo que hay detrás de un proyecto tecnológico. Dedicándonos al trabajo que nos apasiona conseguimos los mejores resultados.
                li
                    span.b-presentation_slider--overlay
                    img.b-presentation_slider-img(src='images/hero_image1.jpg' alt='hero1')
                    .b-presentation_slider-text-w   
                        img.b-presentation_slider-text-w_img(src='icons/logo.png' alt='Elegra')
                        h2 Diseñamos para pensar
                        p En Elegra nos centramos en ofrecer nuestros servicios a empresas que valoran el buen trabajo que hay detrás de un proyecto tecnológico. Dedicándonos al trabajo que nos apasiona conseguimos los mejores resultados.
                li
                    span.b-presentation_slider--overlay
                    img.b-presentation_slider-img(src='images/hero_image2.jpg' alt='hero2')
                    .b-presentation_slider-text-w   
                        img.b-presentation_slider-text-w_img(src='icons/logo.png' alt='Elegra')
                        h2 Diseñamos para pensar
                        p En Elegra nos centramos en ofrecer nuestros servicios a empresas que valoran el buen trabajo que hay detrás de un proyecto tecnológico. Dedicándonos al trabajo que nos apasiona conseguimos los mejores resultados.

        article.b-philosophy
            .b-philosophy_quote
                p Sólo podemos ver poco del futuro, pero lo suficiente para darnos cuenta de que 
                    span  hay mucho por hacer.
                span Alan Turing

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices lorem a est dictum blandit sit amet quis justo. Integer bibendum, lacus vestibulum tristique pharetra, leo nibh congue diam, sed bibendum orci odio eget est. In condimentum odio ultricies purus faucibus, ac ornare nisi feugiat. Vestibulum auctor, tortor et dapibus tempor, nisl nulla fermentum mauris.

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices lorem a est dictum blandit sit amet quis justo. Integer bibendum, lacus vestibulum tristique pharetra, leo nibh congue diam, sed bibendum orci odio eget est. In condimentum odio ultricies purus faucibus, ac ornare nisi feugiat. Vestibulum auctor, tortor et dapibus tempor, nisl nulla fermentum mauris, a mattis arcu tortor consectetur magna.         

        section.b-services
            h3 Servicios
            .b-services--w
                .b-services_consultoria.b-services_section
                    span.b-services_consultoria-icon(title='Consultoría icono')
                    p.b-services_section-title Consultoría informática
                    p Diseñados para pensar. Nuestro principio es que no hay solución óptima sin un estudio previo en el que conocer tu negocio. Analizamos tus necesidades y planteamos la mejor solución.
                .b-services_desarrollo.b-services_section
                    span.b-services_desarrollo-icon(title='Desarrollo icono')
                    p.b-services_section-title Desarrollo
                    p Desarrollamos software basado en las últimas tecnologías, optimizando su rendimiento y certificando su calidad.Grandes maras cuentan con nuestros desarrollos, y desde entonces, mantienen el rendimiento, calidad y sencillez en la gestión.

        section.b-customers
            h3 clientes
            ul
                li
                    img(src='images/logo_ferrovial.png' alt='ferrovial')
                li
                    img(src='images/logo_american-express.png' alt='american express')
                li
                    img(src='images/logo_ie-business.png' alt='ie bussines')
                li
                    img(src='images/logo_ferrovial.png' alt='ferrovial')
                li
                    img(src='images/logo_american-express.png' alt='american express')
                li
                    img(src='images/logo_ie-business.png' alt='ie bussines')
                li
                    img(src='images/logo_american-express.png' alt='american express')
                li
                    img(src='images/logo_ie-business.png' alt='ie bussines')
                li
                    img(src='images/logo_ferrovial.png' alt='ferrovial')
                li
                    img(src='images/logo_american-express.png' alt='american express')
                li
                    img(src='images/logo_ie-business.png' alt='ie bussines')
                li
                    img(src='images/logo_ferrovial.png' alt='ferrovial')

        footer
            p.copyright @Copyright - Elegra
            .b-social-media
                a(href='#', title='facebook')
                    include icons/facebook-letter-logo.svg
                a(href='#', title='twitter')
                    include icons/twitter-letter-logo.svg
                a(href='#', title='linkedin')
                    include icons/linkedin-logo.svg

        //- jQuery needed for slick.js
        script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js')
        script(src='slick/slick.min.js')
        script(src='js/mainSlider.js')
        script(src='js/menu.js')
